<%- include ('partials/navbar.ejs')%>
<%- include ('partials/header.ejs')%>
<h1>Você está na página de perfil!</h1>

<!--Condição para verificar se o nome foi passado-->
<% if(nome){ %>
<h2>Olá, <%= nome %>! Seja bem-vindo!</h2>
<% } else { %>
<p>Faça login para acessar seu perfil.</p>
<% } %> <%- include ('partials/footer.ejs')%>
