footer {
    background-color: #6E8C03;
}

p{
    text-align: center;
    color: #161616;
}

#tabela{
    text-align: center;
    background-color: #79815b;
}

body{
    background-color: #e2e2e2;
}
